<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="org.qa.utils.ExtentReportListener"></listener>
	</listeners>
	
	<parameter name="groups" value="Regression" />
	<parameter name="Environment" value="DEV" />
	<parameter name="Browser" value="Chrome" />
	
	<test name="Orange HRM">
		<classes>
			<class name="org.qa.tests.LoginTest" />
		</classes>
	</test>
</suite> 
